:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.react-grid-item.react-grid-placeholder {
  display: none;
}
